/* style for sidebar app */
.shopify-design-mode .product-pagesidebar {
  display: block;
} 
ul.main_link li svg {
  transform: rotate(270deg);
  width: 11px;
  height: 11px;
  margin-right: 5px;
}
.grandchild_link {
  display: none;
}
.product-pagesidebar {
    float: left;
    display: none;
    max-width: 25%;
}
.product-pagesidebar.showsidebar {
  display: block;
}
.product-pagesidebar #firstlabel {
  text-decoration: none;
  color: rgba(var(--color-foreground),.75);
}
.product-pagesidebar #secondlabel {
  text-decoration: none;
  color: rgba(var(--color-foreground),.75);
}
.product-pagesidebar #thirdlabel {
  text-decoration: none;
  color: rgba(var(--color-foreground),.75);
}
.product-pagesidebar #firstlabel:hover {
  color: rgb(var(--color-foreground));
  text-decoration: underline;
}
.product-pagesidebar #secondlabel:hover {
  color: rgb(var(--color-foreground));
  text-decoration: underline;
}
.product-pagesidebar #thirdlabel:hover {
  color: rgb(var(--color-foreground));
  text-decoration: underline;
}
/*.currentCat {
  font-weight: 600 !important;
}*/
ul.main_link {
    padding: 0;
    list-style: none;
}
ul.child_link {
    padding: 0;
	list-style: none;
}
ul.grandchild_link {
  padding: 0 10px;
	list-style: none; 
}
.product-pagesidebar #toggle {
  display: none;
} 
.currentCat {
  text-decoration: underline !important;
}
/* window drag */
.mobileresponsive  {
  max-width: 100%;
}
.mobileresponsive {
  float: none;
}
.main_link {
text-align: left;
}
.mobileresponsive {
  padding-top: 48px;
}
.mobileresponsive 
svg.icon.icon-caret {
  transform: rotate(268deg);
  width: 12px;
  margin-right: 4px;
}
.mobileresponsive #toggle {
width: 25px;
}
.mobileresponsive #toggle div {
width: 100%;
height: 3px;
margin: 7px auto;
transition: all 0.8s;
backface-visibility: hidden;
}
.mobileresponsive #toggle.on .one {
transform: rotate(45deg) translate(3px, 3px);
}
.mobileresponsive #toggle.on .two {
opacity: 0;
}
.mobileresponsive #toggle.on .three {
transform: rotate(-45deg) translate(11px, -11px);
}
.mobileresponsive #toggle {
display: block;
}
.mobileresponsive #menu {
color: #333;
/* border: 1px solid white;*/
text-align: center;
display: none;
}
.mobileresponsive {
padding-top: 10px;
}

/*****media query start*********/
@media only screen and (max-device-width: 1024px) {
  .product-pagesidebar {
    max-width: 100%;
}
.product-pagesidebar {
    float: none;
}
.main_link {
  text-align: left;
}
.product-pagesidebar {
    padding-top: 48px;
}
.product-pagesidebar 
 svg.icon.icon-caret {
    transform: rotate(268deg);
    width: 12px;
    margin-right: 4px;
}
.product-pagesidebar #toggle {
  width: 25px;
} 
.product-pagesidebar #toggle div {
  width: 100%;
  height: 2px;
  margin: 8px auto;
  transition: all 0.8s;
  backface-visibility: hidden;
}
.product-pagesidebar #toggle.on .one {
  transform: rotate(45deg) translate(3px, 3px);
}
.product-pagesidebar #toggle.on .two {
  opacity: 0;
}
.product-pagesidebar #toggle.on .three {
  transform: rotate(-45deg) translate(11px, -11px);
}
.product-pagesidebar #toggle {
  display: block;
}
.product-pagesidebar #menu {
  color: #333;
 /* border: 1px solid white;*/
  text-align: center;
  display: none;
}
.product-pagesidebar {
  padding-top: 10px;
}
}
/******** media query end ******/