.ucb-product-slider-widget button.ucb-btn {
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
  padding: 10px 15px;
  width: 50%;
  margin:10px;
  font-weight: bold;
}
.ucb-product-slider-widget .ucb-product form {
  text-align: center;
}
.ucb-product-slider-widget  button.ucb-btn:hover {
  cursor: pointer;
}
.ucb-product-slider-widget .carousel-wrap {
  margin: 90px auto;
  padding: 0 5%;
  width: 80%;
  position: relative;
}
/* fix blank or flashing items on carousel */
.ucb-product-slider-widget .owl-carousel .ucb-item {
  position: relative;
  z-index: 100; 
  -webkit-backface-visibility: hidden; 
}
/* end fix */
.ucb-product-slider-widget .owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}
.ucb-product-slider-widget .owl-nav i {
  font-size: 52px;
}

.ucb-product-slider-widget .owl-nav .owl-prev {
  left: -30px;
}

.ucb-product-slider-widget .owl-nav .owl-next {
  right: -30px;
}

.ucb-product-slider-widget .owl-prev {
  float: left;
  position: absolute;
  top: 30%;
}
.ucb-product-slider-widget  .owl-next {
  float: right;
  position: absolute;
  top: 30%;
}

/*.ucb-product-slider-widget  .owl-item {
  border: 1px solid #ddd;
}*/
.ucb-product-slider-widget  .owl-item h3 {
  text-decoration: none !important;
  font-weight: 500;
  margin: 10px 8px;
  height: auto;
  text-align: center;
  min-height: 39px;
  text-transform: capitalize;
}
.ucb-product-slider-widget .ucb-product_price {
 /* margin-left: 20px;
  margin-bottom: 15px;*/
  font-weight: 600;
  color: #444;
  text-align: center;
}
.ucb-product-slider-widget  .owl-item a {
  text-decoration: none;
}
.ucb-product-slider-widget.showsidebar {
  display: block !important;
}
.ucb-product-slider-widget  {
  display: none;
}
.shopify-design-mode .ucb-product-slider-widget  {
  display: block;
} 
.ucb-product-slider-widget  .ucb-product-on-sale-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1; 
  padding: 0px 7px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
}
.ucb-product-slider-widget  .regular-price {
  text-decoration: line-through;
  margin-right: 13px;
  color: #777;
}

.ucb-product-slider-widget  .ucb-badge {
  /*border-radius: var(--badge-corner-radius);*/
  display: inline-block;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  line-height: 1;
  padding: .5rem 1.3rem .6rem;
  text-align: center;
  background-color: rgb(var(--color-badge-background));
  border-color: rgba(var(--color-badge-border),var(--alpha-badge-border));
  color: rgb(var(--color-badge-foreground));
  word-break: break-word;
}
.ucb-product-slider-widget  .available_status.card__badge.ucb-badge {
  position: absolute;
  top: 10px;
  left: 10px;
}
.ucb-product-slider-widget .available_status {
  background: #444;
  color: #fff;
}

.ucb-product-slider-widget  .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 42%;
  left: -50px;
  padding: 0px 15px 6px 15px !important;
  background: rgb(255, 255, 255);
  display: inline-block;
  transform: translateY(-50%);
  /*border-radius: 50%;*/
  font-size: 35px;
  line-height: 35px;
  color: #000;
  box-shadow: 0 0 8px rgba(0, 0, 0, .25);
}
.ucb-product-slider-widget  .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 42%;
  right: -50px;
  padding: 0px 15px 6px 15px !important;
  background: rgb(255, 255, 255);
  display: inline-block;
  transform: translateY(-50%);
 /* border-radius: 50%; */
  font-size: 35px;
  line-height: 35px;
  color: #000;
  box-shadow: 0 0 8px rgba(0, 0, 0, .25);
}
.ucb-product-slider-widget  .product-item {
  text-align: center;
}
.ucb-product-slider-widget  .ratio {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.ucb-product-slider-widget .ratio::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%; /* 1:1 ratio */
}

.ucb-product-slider-widget .ratio img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; /* crop and fill */
  object-position: center;
}
.ucb-product-slider-widget .owl-stage {
    display: flex;
}
.ucb-product-slider-widget .owl-item {
    align-self: stretch !important;
}
.ucb-product-rating-wrapper {
    margin: 5px 0;
}
.ucb-custom-rating {
    font-size: 14px;
    text-align: center;
}

/*****media query start*********/
@media only screen and (max-device-width: 1000px) {
  .ucb-product-slider-widget .owl-nav .owl-next {
  right: -10px !important;
}
.ucb-product-slider-widget .owl-nav .owl-prev {
  left: -10px !important;
}
}

